language: node_js
node_js:
  - "node"
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"

# Cache dependencies in $HOME/.yarn-cache across builds
cache: yarn

# Run the the validate script with code coverage
script: yarn run validate -- -- --coverage

# Scripts to run after validation tests run
after_success:
  # Install coveralls globally
  - yarn global add coveralls semantic-release

  # Retrieve the coverage information and send it to Coveralls
  - cat ./coverage/lcov.info | coveralls

# Build lib files
before_deploy: yarn run build

# Publish to NPM
deploy:
  skip_cleanup: true
  provider: script
  script:  ./_scripts/travis-deploy.sh
  on:
    branch: master
    node: "node"
